#films {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
}

#film-description-wrapper {
  display: flex;
  flex: 1 50%;
  flex-flow: row nowrap;
}
#film-description-wrapper.hidden {
  visibility: hidden;
}

#film-description {
  display: flex;
  flex-flow: column;
  flex-basis: 90%;
}

#back-to-showings {
  flex-basis:10%;
  background-color: #454343;
  border: 1px solid #f5821e;
  border-top:none;
  border-bottom:none;
  color: #f5821e;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.filmDetails {
  display: flex;
  flex-flow: column;
  margin-left:0.8rem;
}

.filmDetails > div {
  display: flex;
  justify-content: space-between;
}

.filmDetails > div > p {
  flex-basis: 50%;
  margin: 0.3rem;
  font-size:0.8rem;
}

@media (min-width: 600px) {
  #films {
    flex-basis: 50%;
    margin: 0 2px;
  }

  #film-description-wrapper {
    flex-basis: 50%;
    display: flex;
    flex-flow: column;
  }

  .filmDetails {
    display: flex;
    flex-flow: column;
  }

  .filmDetails > div {
    display: flex;
    justify-content: space-between;
  }

  .filmDetails > div > p {
    flex-basis: 50%;
    margin: 0.3rem;
    font-size:1rem;

  }

  .filmDetails > div > p:nth-child(1) {
    text-align: left;
  }

  .filmDetails > div > p:nth-child(2) {
    text-align: right;
  }
}
/* ===========================FILM================================= */

.film {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.poster {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}

.poster-img {
  width: 70%;
  height: auto;
  opacity: 0.5;
}

.filmTitle {
  flex-basis: 45%;
}

.filmTitle > p {
  word-break: normal;
  text-transform: uppercase;
}

.filmTimes {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: row wrap;
  flex-basis: 55%;
}

.filmTimes p {
  margin: 5px;
  padding: 5px;
}

.hourSelected {
  border: 1px solid #f5821e;
  border-radius: 3px;
}
