@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #454343;
}

#root.scroll-lock-horizontal {
  overflow-x: hidden;
  position: relative;
  max-height: calc(var(--vh, 1vh) * 100);
}

#root.scroll-lock-vertical {
  overflow-y: hidden;
  position: relative;

  max-height: calc(var(--vh, 1vh) * 100);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  cursor: default;
}
/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color:lightblue}
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color:lightblue} */

#main-panel {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #454343;
  /*color: #ff8c00;*/
  color: #f5821e;
}

#main-panel > * {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden;
  transition: flex 0.5s ease-out;
}

#calendar-wrapper > *,
#showing-selection-wrapper > *,
#room-wrapper > *,
#order-wrapper > *,
#tickets-wrapper > * {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  overflow: hidden;
  transition: flex 0.5s ease-out;
}

#first,
#second,
#third,
#fourth,
#fifth {
  border: 1px solid #f5821e;
}

#second-mobile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#second-mobile p {
  border: 1px solid #f5821e;
  flex: 1 100%;
  text-align: center;
  margin: 0;
}

#second {
  display: none;
}

@media (min-width: 600px) {
  #second-mobile {
    flex: 0;
  }
  #second {
    display: flex;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: black;
  }
  #main-panel {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row nowrap;
    background-color: #454343;
  /*  color: #ff8c00;*/
  color: #f5821e;
    height: 70vh;
    justify-content: stretch;
  }

  #main-panel > * {
    flex-basis: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    transition: flex 0.5s ease-out;
    border: 1px solid #f5821e;
  }

  #calendar-wrapper > *,
  #showing-selection-wrapper > *,
  #room-wrapper > *,
  #summary-wrapper > *,
  #tickets-wrapper > * {
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: flex 0.5s ease-out;
  }

  #first,
  #second,
  #third,
  #fourth,
  #fifth {
    flex-basis: 10%;
    border: 1px solid #f5821e;
  }
}
