#calendar {
        line-height: 2;
}

#calendar p {
    font-weight: 300;
}

#calendar table {
    vertical-align: top;
    border-collapse: collapse;
    width: 100%;
    height:100%;
    table-layout: fixed;
    border-collapse:separate; 
    border-spacing:3x;
}



/* ==========================================*/

#calendar td {
    text-align: center;
    padding: 0.5rem;
    border-radius:4px;
    position: relative;
}

#calendar thead td {
    color: #999;
    text-transform: uppercase;
    cursor: default;

}


#calendar tbody td {
    font-size: 1.1rem;
}


.day-name{
font-weight:bold;

}


/*
  td.before.selectable:hover,
  td.after {
    color:#FFCF9E;
  } */




#next:hover,
#previous:hover {
    background-color: orange;
}


.today {
    cursor:pointer;
}

.today:hover{
    border:1px double black;
}

.selectable:hover{
    cursor:pointer;
    border:1px double black;
}

.selectable.after{
    filter: brightness(1.3);
}

.not-selectable{
color:darkorange;
opacity:0.5;

}

.not-selectable:hover {
    cursor: not-allowed;
    border:1px double black;
}


.selectable.day-clicked, .after.day-clicked, .today.day-clicked{
background-color: whitesmoke;
color:darkorange;
}