.filmTimes {
    display: flex;
    flex-flow: row;
}

.filmTimes p {
    margin: 5px;
}

.filmDetails p {
    font-size: 0.8rem;
}


.filmSelected {
    background-color: red;
}


.hourSelected {
    background-color: green;
}