#order-wrapper {
  justify-content: flex-start;
  height: 100vh;
}

#order-wrapper.hidden {
  visibility: hidden;
}

@media (min-width: 600px) {
  #order-wrapper {
    height: 100%;
  }
}

#next {
  text-align: center;
}

#next button {
  width: 80%;
}

#user-order {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 90%;
  justify-content: center;
}

#ordering {
  text-align: center;
}

#ordering button {
  width: 80%;
}
