#room-wrapper {
  justify-content: space-between;
}

#room-icon {
  flex: 0;
}

#room-icon svg {
  color: #f5821e;
  cursor: pointer;
  width: 100%;
  height: auto;
}

#room-icon svg path {
  width: 7vw;
}
#room {
  display: flex;
  flex-basis:80%;
  flex-flow: column nowrap;
}

#room > p {
  display: flex;
  justify-content: center;
}

#selectedSeatsSummary {
  display: flex;
  flex-flow: column wrap;
}

#selectedSeatsSummary {
margin:0;
}

#selectedSeatsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#selectedSeatsList p{
  border: 1px solid #f5821e;
  padding:3px;
  margin:1px;
}

#seats {
  margin: 0 4px;
  display: flex;
  flex-flow: row wrap;
}
.row {
  flex: 1 100%;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
}
.row button {
  width: 1.8rem;
  height: 2rem;
  padding: 0px;
  border-radius: 3px;
  border: 0;
}

.selected {
  background-color: #4caf50;
}

.taken {
  background-color: #800000;
}

#screen {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-bottom: 0.8rem solid black;
  margin-bottom: 1rem;
}

#screen p {
  margin: 0;
}

#markings {
  margin: 0 4px;
  flex: 1 100%;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-evenly;
}

#markings div {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.85rem;
}

#markings button {
  width: 1.8rem;
  height: 2rem;
  padding: 0px;
  border-radius: 3px;
  border: 0;
  margin-right: 0.5rem;
}



@media (min-width: 600px) {

  #next.show-order-btn.room-icon {
    display:none;
  }
  #room-wrapper {
    flex-basis: 30%;
    height: 100%;
  }

  #room-wrapper.wrapped {
    flex-basis: 10%;
  }
  #room.wrapped {
    flex: 0;
  }

  #room-icon {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  #room-icon > * {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .row {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .row button {
    width: 1.8rem;
    height: 2rem;
    padding: 0px;
    border-radius: 3px;
    border: 0;
    margin: 0 3px;
  }
}
