#seats{
    margin:0 4px;
    display: flex;
    flex-flow:row wrap;
}
.row{
    flex:1 100%;

      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    margin-bottom:0.5rem;
    justify-content: space-evenly;
}
.row button{
    width: 2rem;
    padding: 0px;
 
}

.selected {
    background-color: #4CAF50; 
}

#screen {
flex:1 100%;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
