#showing-selection.wrapped{
    flex:0;
}

#showing-icon{
    flex-basis:10%;
    display:flex;
    flex-flow:column;
    justify-content: space-between;
}

#showing-icon > * {
    text-align: center;
}


#showing-icon i{
    font-size:7vw;
    cursor: pointer;
    color:orange;
}