#ordering {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
flex-flow:column nowrap;
justify-content:flex-start;


}

#ordering > * {
}



#seats-summary {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */  flex-flow:row wrap;
  }
  
  #seats-summary p:not(:first-child)  {
  margin-left:0.2rem;
  margin-right:0.2rem;
  border: 1px solid red;
  }

  #seats-summary p{
      margin-top:0;
      margin-bottom:0;
  }


#user-data {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */   
     flex-flow:row nowrap;
     align-items: baseline;
       border-bottom: 2px solid grey;

}
#user-data > * {
    margin:0 1rem 0 0;
}


#final-steps{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
flex-flow:row wrap;
flex-grow:10 /* ? */;
}

.logged-in{
  flex:0;
      }
/*
#final-steps > *{
  flex:1 100%;
}*/

#next{
  align-self:flex-start;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
flex-flow:row wrap;
flex:1 100%;
}

#next button {
  flex:1 100%;

}
#last-step {
  align-self:flex-start;
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow:row wrap;
    flex:1 100%;
}

#create-ticket-btn{
  flex:1 100%;
}

#showing-summary {
    margin:0;
}


#signin-order{

}


#summary {
flex:1 100%;} 
