#tickets {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: column wrap;
  justify-content: flex-start;
}

.ticket {
  border: 1px solid orange;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.ticket p {
  margin: 0.25rem 0.5rem;
}

#confirmation p {
  text-align: center;
}

#tickets-wrapper {
  justify-content: flex-start;
}

@media (min-width: 600px) {
  #tickets-wrapper {
    height: 100%;
  }
}
