#user-data {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: row nowrap;
  align-items: baseline;
  border-bottom: 2px solid grey;
  margin-bottom:2rem;
}
#user-data > * {
  margin: 0 1rem 0 0;
}

#user {
  display: flex;
}


/*
#user > div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
} */

#login {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 20%;
}

#login > * {
  flex-basis: 70%;
}

#user-register {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 50%;
}

#user-register > * {
  flex-basis: 70%;
}

.error {
  color: red;
}

#user-logged {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */ /* NEW, Spec - Firefox, Chrome, Opera */
}

#user-logged button {
  padding: 0px;
}
/*
#user.logged-in {
  flex: 0;
} */
